<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
Content Loading via Ajax <small>loading page content via ajax</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="index.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#"></a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">Action</a>
				</li>
				<li>
					<a href="#">Another action</a>
				</li>
				<li>
					<a href="#">Something else here</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">Separated link</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Regional Stats
				</div>
				<div class="tools">
					<a href="#" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="#" class="reload"></a>
					<a href="#" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body">
				<p>
					 This page demostrates the page content loading via ajax. To try it please click on the sidebar menu items.<br>
				</p>
				<hr>
				<span class="label label-danger">
				NOTE: </span>
				&nbsp;This sample does not work if you opened the page directly from the browser since ajax calls require to receive the response from a web server.
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->