/* here you can put your own css to customize and override the theme */

@media screen {
	#printSection { display: none }
}
@media print {
	body *, page { visibility: hidden; margin: 0; box-shadow: 0 }
	#printSection, #printSection * { visibility: visible; }
	#printSection { 	position:absolute; left:0; top:0 }
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] { width: 21cm; height: 29.7cm }
page[size="A4"][layout="landscape"] { width: 29.7cm; height: 21cm }
page[size="F4"] { width: 21.59cm; height: 33.02cm }
page[size="F4"][layout="landscape"] { width: 33.02cm; height: 21.59cm }

subpage {
	border: 1px red solid;
}

#printThis {
	font-family:Arial;
	font-size:10pt;
	margin-top:0;
	margin-left:2.54cm;
	margin-right:2.54cm;
	margin-bottom:2.54cm
}
#printThis .judul {
	font-weight:bold;
	font-family:arial;
	font-size:12pt;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.glyphicon-animate {
	-animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.modal-header {
	padding: 10px 10px;
	background-color: #555;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #555;
}
.modal-title {
	color: #fff;
	margin-left: 10px;
}
.modal-footer {
	background-color: #eee;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.white {
  background-image: url("../img/remove-icon-small-white.png") !important;
}

.tableAjax-wraptext {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #dddddd;
  margin: 10px 0 !important;
}

.tableAjax-wraptext > .table {
  width: 100% !important;
  margin: 0 !important;
  margin-bottom: 0;
  background-color: #fff;
}

.tableAjax-wraptext > .table > thead > tr > th,
.tableAjax-wraptext > .table > tbody > tr > th,
.tableAjax-wraptext > .table > tfoot > tr > th,
.tableAjax-wraptext > .table > thead > tr > td,
.tableAjax-wraptext > .table > tbody > tr > td,
.tableAjax-wraptext > .table > tfoot > tr > td
{
  /*white-space: nowrap; // ini yang menyebabkan uraian jadi tidak word-wrap */
  /*border: 1px solid #dddddd;*/
}

.cellmiddle {
	margin-top: -38px;
}
.cellright {
	text-align: right;
}
.cellcenter {
	text-align: center;
}
.cellright {
	text-align: right;
}
.celltop {
	vertical-align: middle;
}

.rowspanmiddle {
	margin-top:-38px;
}

#loader {
	/* display: visible; */
	display: none;
	position: fixed;
	width: 128px;
	height: 128px;
	z-index: 1000;
	left: 50%;
	top: 40%;
	text-align:center;
}
#loader span {
	font-weight: bold;
	font-size: 20px;
}

.loader2 span {
	font-weight: bold;
	font-size: 20px;	
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

.modal-loading {
	display: visible;
	text-align: center;
	margin-top: 15px;
}

.tableData {
	border: 0px;
}
.tableData td {
	vertical-align: top;
	padding: 1px;
}

.lpr {
	border: 1px solid #aaa;
	background-color: #000;
}
.lpr tr {
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: "Arial Narrow";
	font-size: 9pt;
}
.lpr th {
	border-right: 1px solid #aaa;
	padding: 2px 2px;
	text-align: center;
}
.lpr td {
	border-right: 1px solid #aaa;
	padding: 2px 2px;
	background-color: #fff;
	font-family: "Arial Narrow";
	font-size: 9pt;
	font-weight: bold;
}

/*
==========================
 SWEET ALERT 2 CUSTOM
========================== */
.swal2-container {
	z-index: 100000;
}
.swal2-popup {
  font-size: 1.6rem !important;
}
.swal2-content {
	font-size: 1.5rem !important;
}

.table tbody tr.active td {
	color:#000;
}

/*
========================
 TABEL KU
======================== */
.tableku {
	width: 100%;
}
.tableku thead tr th {
	font-size: 14px;
	font-weight: 600;
}